<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>A_smart_lecturer</servlet-name>
		<servlet-class>aglosh2014.appspot.com.A_smart_lecturerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginJSP</servlet-name>
		<jsp-file>/WEB-INF/login.jsp</jsp-file>
	</servlet>
	 
	<servlet-mapping>
	    <servlet-name>LoginJSP</servlet-name>
	    <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>A_smart_lecturer</servlet-name>
		<url-pattern>/a_smart_lecturer</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>LecturerIndex</servlet-name>
		<jsp-file>/WEB-INF/users_pages/index_lecturer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LecturerIndex</servlet-name>
	    <url-pattern>/Lecturer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LecturerStatistics</servlet-name>
		<jsp-file>/WEB-INF/users_pages/lecturer/statics.jsp</jsp-file>
	</servlet>
		<servlet-mapping>
	    <servlet-name>LecturerStatistics</servlet-name>
	    <url-pattern>/Lecturer/Show/*</url-pattern>
	</servlet-mapping>
	

	
		
	<servlet>
		<servlet-name>StudentIndex</servlet-name>
		<jsp-file>/WEB-INF/users_pages/index_student.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>StudentIndex</servlet-name>
	    <url-pattern>/Student</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckerIndex</servlet-name>
		<jsp-file>/WEB-INF/users_pages/index_checker.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CheckerIndex</servlet-name>
	    <url-pattern>/Checker</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InsertGrades</servlet-name>
		<jsp-file>/WEB-INF/users_pages/checker/grades.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>InsertGrades</servlet-name>
	    <url-pattern>/Checker/Add</url-pattern>
	</servlet-mapping>
	

	
	
	<servlet>
		<servlet-name>AdminIndex</servlet-name>
		<jsp-file>/WEB-INF/users_pages/index_admin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AdminIndex</servlet-name>
	    <url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>GetCourses</servlet-name>
		<jsp-file>/WEB-INF/dynamic/getCourses.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>GetCourses</servlet-name>
	    <url-pattern>/getCourse</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>Login</welcome-file>
	</welcome-file-list>
</web-app>
