#warp {
	position:relative;
	display:block;
	padding:20px 0;
	white-space: nowrap;
	overflow: hidden;
	color: #666;
	height:auto;
	background-color:#FFFFFF;
	background-image:none;
	padding-bottom:20px;
}


.logout {
	margin-top:20px;
	float:left;
	width:auto;
}

/*MENU*/

.menuDiv {
	background-color:#FFF;
	width:220px;
	margin:0;
	padding:0;
	border:1px solid #C3C3C3;
	border-right:1px dotted #C3C3C3;
	border-bottom:none;
	height:auto;
	float:right;

}



.menuTitle , .menuItem, .SelectedmenuItem {
	border-bottom:1px solid #C3C3C3;
	padding-right:5px;
}

.menuTitle {
	background-color:#e5e5e5;
	font-weight:700;
	font-size:90%;
	color:#000000;
}

.menuItem, .SelectedmenuItem {
	background-color:#EFEFEF;
	padding-right:20px;
}

.SelectedmenuItem {
	background-color:#CCCCCC;
	font-weight:700;
	color:#000000;
	font-size:90%;
}


.menuItem:hover {
	background-color:#c5d7ed;
	cursor:hand;
	cursor:pointer;
	text-decoration:underline;
}


/*END MENU*/

.mainContent {
	float:left;
	
	margin-left:20px;
	width:720px;
	
}

/* FORMS */

.formField {
	float:none;
}

.form_tr {line-height: 60px;color:#005a8c;font-weight:500}
.form_text, .form_select {
	width:200px;
	height:27px;
	font-size:14px;
	border:1px solid #ccc;
	text-indent: 0px;
	
	background-color:#FFFFFF;
}



textarea {
	font-size: 14px;
	max-height:90px;
	max-width:700px;
	height:90px;
	width:700px;
	font-family:Arial;
	padding:3px;
	border:1px solid #ccc;
	overflow:auto;
	line-height:23px;
}
.form_button {
	width:70px;
	height:30px;
}

#cmdprev {width:100px;}

/* END FORMS */

.exericse_filterDiv {
	margin-top:20px;
}


#chart_div {
	width:800px;
	text-align: right;
	direction: rtl;
}