html, head, body{
	width: 100%;
	margin: 0;
	padding: 0;
	
}

body {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#e9ebec;
	overflow-y: scroll;
}



h1 {
	padding:0;
	margin:0;
	height:125px;
	width:36px;
}

h2 {
	padding:0;
	margin:0;
	color:#0f4e7c;
	font-weight:700;
	text-align:right;
	white-space:normal;
}

h3 {
	padding:0;
	margin:0;
	font-size:14px;
}

h4 {
	padding:0;
	margin:5px 0;
	font-size:14px;
}


a, .div_link {
	color:#0080bc;
	text-decoration:underline;
}


#main_site_div {
	width:991px;
	margin-left:auto; 
	margin-right:auto;
}



#header {
	overflow: hidden;
	margin:0px auto ;
	background-color:#FFFFFF;
	padding: 20px;
	font-size:100%;
	line-height:20px;
	
}

.headerTitle {
	float:right;
	
	font-size:110%;
}
#mainName{
	font-size:115%;
}

#exitButton {
	float:left;
	width:auto;
}


#top_bar, .header_fade {
	
	
	height:123px;
	background: url(../images/top_bar.jpg) no-repeat;
	background-color:#FFFFFF;
	
}

.header_fade {
	background: url(../images/header_fade.png) no-repeat #FFFFFF;
	height:20px;
	padding:10px;

}

.logo {
	background:url(../images/logo.jpg) no-repeat;
	float:left;
	height:123px;
	width:310px;

}


#warp {
	position:relative;
	display:block;
	padding:20px;
	
	overflow: hidden;
	color: #666;
	width:auto;
	height: auto;
	background:url(../images/login_bg.jpg) no-repeat left bottom white;
	padding-bottom:20px;

	
}
#login{
	font-weight: bold;
}
#filterline{
		background-color:#0066CC;
		color: #376;
		height:10px;
		width:auto;
}

/*LOGIN*/

.loginBox {

	background-color:#FFF;
	width:400px;
	margin-top:20px;
	height:300px;
	padding:0 20px;
	border:1px solid #C3C3C3;
	line-height:40px;

}

.addUser {
	margin-bottom:200px;
	background-color:#FFF;
	width:400px;
	margin-top:40px;
	margin-right:200px;
	height:300px;
	padding:0 20px;
	
	line-height:40px;
	float: right;
	border:1px solid #0066CC;
    box-shadow: 20px 10px 2px #888;
}

.delUser{
	
	margin-bottom:200px;
	background-color:#FFF;
	width:400px;
	margin-top:40px;
	margin-right:200px;
	height:180px;
	padding:0 20px;

	line-height:40px;
	float: right;
	border:1px solid #0066CC;
    box-shadow: 20px 10px 2px #888;
}
.addCourse {
	margin-bottom:200px;
	background-color:#FFF;
	width:400px;
	margin-top:40px;
	margin-right:200px;
	height:300px;
	padding:0 20px;
	
	line-height:40px;
	float: right;
	border:1px solid #0066CC;
    box-shadow: 20px 10px 2px #888;
}

.addCicle{

	margin-bottom:200px;
	width:400px;
	margin-top:40px;
	margin-right:200px;
	height:250px;
	padding:0 20px;
	
	line-height:40px;
	float: right;
	border:1px solid #0066CC;
    box-shadow: 20px 10px 2px #888;
}

.working{
	background-color: blue;
	margin:0px auto ;
		margin-bottom:200px;
	padding: 20px;
	font-size:150%;
	line-height:20px;
	
}

.loginBoxHeader {
	border-bottom:1px solid #C3C3C3;
	margin-bottom:20px;
	
	color:red;
}

.loginBoxFooter {
	border-top:1px solid #C3C3C3;
	margin-top:20px;
	color: #CC0000;
	font-size:80%;
	
}

.loginBox{
	margin-right:20px;
	border:1px solid #0066CC;
    box-shadow: 20px 10px 2px #888;
    height: 280px;
}
.fieldTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	text-align: right;
	color: #666;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-left: 40px;

	display: inline;
	float: right;

}

.formField {
	width:172px;
	height:28px;
	background-color:#EFEFEF;
	border: 1px solid #a9acaf;
	color:#000;
	float:left;
}

.loginButton {
	width:100px;
	height:30px;
	float:left;
	margin-top:20px;
}

.loginMsg  {
	width:150px;
	height:30px;
	float:right;
	margin-top:20px;
}

/*END LOGIN*/

/*MENU*/

.menuDiv1 {
	background-color:#14F;
	width:700px;
	margin-top:20px;
	height:auto;
	padding:0 200px;
	line-height:40px;
	float:left;
	
}

.menuDiv2 {
	background-color:#14F;
	width:700px;
	margin-top:20px;
	height:auto;
	padding:0 200px;
	line-height:40px;
	float:left;

}

.menuDiv3 {
	background-color:#14F;
	width:700px;
	margin-top:20px;
	height:auto;
	padding:0 200px;
	
	line-height:40px;
	float:left;
}
/*END MENU*/


#footer {
	width: 991px;
	color:#000000;
	text-align:center;

	padding-top:40px;
	padding-bottom:20px;
	background-color:#FFFFFF;
}

#footer a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:500;
	color:#666666;
}




